.modal-mask {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  font-family: "PT_Sans-Web-bold";
}

.modal-header {
  display: flex;
  position: relative;
  font-size: 2rem;
  text-align: left;
  color: #635c53;
}
.form-label {
  z-index: 5;
  position: fixed;
  margin-top: -20px;
}
.form-wrapper {
  margin-top: 30px;
}
.icon-wrapper {
  position: absolute;
  width: 30px;
  right: 0;
  background-color: #ff5f2d;
  margin-right: -45px;
  margin-top: -28px;
  cursor: pointer;
}
.icon {
  color: #eeeeee;
}
.modal-body {
  margin: 40px 0;
}
.modal-footer {
  text-align: left;
}
.modal-default-button {
  border-radius: 5px;
  background-color: #635c53;
  font-family: "PT_Sans-Web-bold";
  cursor: pointer;
  border: none;
  color: #eeeeee;
  width: 20%;
  padding: 10px 20px;
}
