.search {
  margin-top: 10px;
  width: 600px;
  display: flex;
  position: relative;
}

.search > i {
  color: #333333;
  position: absolute;
  top: 12px;
  padding-right: 20px;
  right: 0;
}

::placeholder {
  color: #635c53;
  padding-left: 10px;
  font-family: "PT_Sans-Web-bold";
}
.search-bar {
  border: none;
  background-color: #dddddd;
  width: 100%;
  height: 40px;
  border-radius: 4px;
}
.search-bar:after {
  content: "test";
}
