.text-field-wrapper {
  margin-top: 10px;
  display: flex;
  position: relative;
}

.text-field-wrapper > i {
  color: #333333;
  position: absolute;
  top: 12px;
  padding-right: 20px;
  right: 0;
}

::placeholder {
  color: #635c53;
  padding-left: 10px;
  font-family: "PT_Sans-Web-bold";
}

.text-field {
  border: none;
  background-color: #dddddd;
  width: 100%;
  height: 40px;
  border-radius: 4px;
}

.error label {
  color: #cc0033;
}

.error input {
  border: 1px solid #ff5f2d;
  outline: none;
}
.error textarea {
  border: 1px solid #ff5f2d;
  outline: none;
}
.success {
  border: 1px solid #33b95a;
  outline: none;
}
.error-message {
  font-family: "PT_Sans-Web-Regular";
  color: #ff5f2d;
  text-align: left;
}
