/** a => remove underline */
a {
  text-decoration: none;
}
/** set max container */
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header {
  height: 65px;
  width: 100%;
  background-color: #635c53;
  position: fixed;
  top: 0;
  z-index: 10;
}

.app-title {
  font-family: "PT_Sans-Web-Bold";
  font-size: 24px;
  color: white;
  width: 150px;
  margin-top: 20px;
}

.header-right {
  display: flex;
}

.header-right a {
  line-height: 65px;
  font-family: "PT_Sans-Web-Bold";
  padding: 0 25px;
  color: white;
  display: flex;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: #71695f;
}

.navigation-menu {
  position: absolute;
  display: block;
  top: 65px;
  font-family: "PT_Sans-Web-Bold";
  line-height: 60px;
  background-color: #635c53;
  width: 10%;
  transition: all 0.5s;
}
.navigation-list {
  display: flex;
}
.navigation-item {
  cursor: pointer;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
