/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .drawer-mobile {
    display: block;
  }
  body .add-comment-wrapper {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {
  .nav-group {
    display: none;
  }
  body .drawer {
    display: block;
  }
  body .thread-wrapper {
    display: block;
  }
  body .thread-container {
    margin-top: 100px;
  }
  body .threads-top-wrapper {
    margin-left: 0;
  }
  body .thread-detail-wrapper {
    border-right: none;
  }
  body .add-comment-wrapper {
    width: 100%;
    display: inline;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .search-bar {
    display: none;
  }
  .drawer-mobile {
    display: block;
  }
}
