/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .drawer-mobile {
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {
  .nav-group {
    display: none;
  }
  body .drawer {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .search-bar {
    display: none;
  }
  .drawer-mobile {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}
