.thread-container {
  max-width: 1170px;
  padding: 0 10px;
  margin: 0 auto;
}
.thread-wrapper {
  display: flex;
}
.thread-detail-wrapper {
  border-right-style: solid;
  border-width: 0.5px;
  border-color: #dddddd;
  width: 70%;
}

.title-wrapper {
  margin-top: 35px;
}
.thread-detail-title {
  font-family: "PT_Sans-Web-Bold";
  font-size: 35px;
  text-align: left;
}
.thread-detail-subtitle {
  margin-top: 20px;
  font-size: 15px;
  text-align: left;
  font-family: "PT_Sans-Web-Regular";
}
.top-title {
  font-size: 20px;
  font-family: "PT_Sans-Web-Bold";
}

.threads-top-wrapper {
  margin: 30px 20px;

  text-align: left;
}

.threads-number {
  font-size: 10px;
  background-color: #635c53;
  padding: 12px 12px;
  text-align: center;
  color: #eeeeee;
  border-radius: 5px;
}

.threads-title {
  font-size: 12px;
  margin-left: 10px;
  padding-top: 10px;
}

.threads-item {
  margin-top: 20px;
  display: flex;
}

.thread-comment-wrapper {
  text-align: left;
  display: flex;
  margin-top: 20px;
}
.thread-comment-avatar {
}
.thread-comment-detail {
  margin-left: 20px;
}
